@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: #16191d;
  color: aliceblue;
}

.profile{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-image{
  border-radius: 50%;
}

.project-img {
  margin-left: 5rem;
  border-radius: 1%;
  margin-bottom: 2rem;
}

.project-img:hover {
  transform: scaleX(1.1);
  transform: scaleY(1.05);
  transform: translateY(-10px);
  cursor: pointer;
}